<div class="container" style="height: 75%;">
    <div class="row justify-content-between border-bottom align-items-center" style="height:50px">
        <div class="col">
            <p>Trang chủ</p>
        </div>
        <div class="col text-end">
            <p>Tìm kiếm</p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-7">
            <div class="container border rounded p-2"
                style="background-color: rgba(122, 211, 255, 0.3); border-color:rgba(122, 211, 255, 0.7)!important;">
                <p class="">Thông tin</p>
                <div class="row">
                    <div class="col-4 d-flex align-items-center flex-column">
                        <img src="/img/logo_khoabkc.jpg" class="border rounded-circle" alt=""
                            style="height:120px;width:120px;">
                        <a class="" href="">chỉnh sửa thông tin</a>
                    </div>
                    <div class="col-8 ">
                        {{#if studentInfo}}
                            <p>MSSV: {{studentInfo.studentID}}</p>
                            <p>Họ và Tên: {{studentInfo.lastname}} {{studentInfo.firstname}}</p>
                            <p>Giới tính: {{studentInfo.gender}}</p>
                            <p>Ngày sinh: {{studentInfo.date_of_birth}}</p>
                            <p>Chuyên Ngành: {{studentInfo.major.name}}</p>
                            <p>Lớp: {{studentInfo.class.classID}}</p>
                        {{else}}
                            <p>No student information found.</p>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="container border rounded p-2 mt-2 h-100 border-dark">
                <p class="fw-bold">Thông tin đồ án</p>
            </div>
        </div>
        <div class="col-5">
            <div class="container border rounded p-2 ">
                <div class="row py-2">
                    <div class="col-7">Task 2</div>
                    <div class="col-5">| 10/02/2024 - 12/02/2024</div>
                    <div class="col-9">
                        tình trạng : Đang thực hiện còn 1 ngày
                    </div>
                    <div class="col-3">
                        <a href="">Thực hiện</a>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-7">Task 1</div>
                    <div class="col-5">| 08/02/2024 - 10/02/2024</div>
                    <div class="col-9">
                        tình trạng : Đang hoàn thành
                    </div>
                    <div class="col-3">
                        <a href="">Chỉnh sửa</a>
                    </div>
                </div>
                <div class="row text-end">
                    <a href="">Xem chi tiết</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{#if user}}
<div class="user-info">
    <h2>Xin chào, {{user.username}}!</h2> <!-- Giả sử bạn có thuộc tính username trong user -->
    <p>Vai trò: {{user.role}}</p> <!-- Hiển thị vai trò của người dùng -->
</div>
{{else}}
<div class="alert alert-warning">
    <p>Người dùng không được xác thực. Vui lòng đăng nhập.</p>
</div>
{{/if}}