{{!-- <form action="/users" method="post">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="text" name="email" placeholder="Email" required>
    <!-- Các trường khác tương tự -->
    <button type="submit">Create User</button>
</form> --}}

{{!-- <ul>
    {{#each users}}
        <li>{{this.username}} - {{this.email}}</li>
    {{/each}}
</ul> --}}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
</head>
<body>
    <h1>Users List</h1>
    <ul>
        {{#each users}}
            <li>{{this.username}} - {{this.password}} - {{this.role}}</li>
        {{/each}}
    </ul>
</body>
</html>
