<form method="post" action="/admin/create-toppic" id="create-toppic" class="container my-2 scroll create-toppic" style="height: 70vh;">
    <div class="row gy-2">
        <h3>Tạo mới đề tài</h3>
        <div class="col-12">
            <fieldset class="reset">
                <legend class="reset">THÔNG TIN ĐỀ TÀI</legend>
                <div class="container">
                    <div class="row">
                        <!-- Tên đề tài và chuyên ngành -->
                        <div class="col-lg-4 col-12">
                            <p class="mb-1">Tên đề tài</p>
                            <input type="text" class="form-control mb-1" name="title" id="title" placeholder="Nhập tên đề tài" required>
                            <p class="mb-1">Chuyên ngành liên quan</p>
                            <select name="majorId" id="majorId" class="form-select mb-1" required>
                                <option value="">-- Chọn chuyên ngành --</option>
                                {{#each major}}
                                <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <!-- Mô tả -->
                        <div class="col-lg-5 col-12 d-flex flex-column">
                            <p class="mb-1">Mô tả</p>
                            <textarea class="form-control flex-fill mb-1" name="description" id="description"></textarea>
                        </div>
                        <!-- Trạng thái -->
                        <div class="col-lg-3 col-12 d-flex flex-column">
                            <fieldset class="reset flex-fill mb-1">
                                <legend class="reset">Trạng thái tạo mới</legend>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="status" id="flexRadioDefault1" value="not_started" checked>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Chưa bắt đầu
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="status" id="flexRadioDefault2" value="in_progress">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Bắt đầu
                                    </label>
                                </div>
                                <!-- Hiển thị ngày -->
                                <div id="current-date" class="mt-2" style="display: none;">
                                    Ngày bắt đầu: <span id="date-display"></span>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <!-- Sinh viên tham gia -->
        <div class="col-sm-7 formfor-student">
            <fieldset class="reset">
                <legend class="reset">Sinh viên tham gia</legend>
                <div class="container gy-1">
                    <div class="row gy-1">
                        <div class="col-lg-3 d-flex align-items-center">
                            <label for="tim-sinh-vien" class="text-nowrap">Tìm sinh viên:</label>
                        </div>
                        <div class="col-lg-7">
                            <input type="text" id="tim-sinh-vien" class="form-control" placeholder="Nhập mã sinh viên">
                        </div>
                        <div class="col-lg-2 d-flex justify-content-end text-center">
                            <button type="button" id="btn-tim" class="btn btn-info text-white"><i class="fa-solid fa-magnifying-glass me-2 text-white"></i>Tìm</button>
                        </div>
                    </div>
                    <div id="card-tabs" class="mt-2"></div>
                    <!-- Popup kết quả tìm kiếm -->
                    <div id="popup-ket-qua" class="popup-results"></div>
                </div>
            </fieldset>
        </div>

        <!-- Giảng viên hướng dẫn -->
        <div class="col-sm-5 d-flex formfor-advisor">
            <fieldset class="reset flex-fill">
                <legend class="reset">Giảng viên hướng dẫn</legend>
                <select name="advisorId" id="advisorId" class="form-select">
                    <option value="">-- Chọn giảng viên --</option>
                    {{#each advisors}}
                    <option value="{{id}}">{{lastname}} {{firstname}}</option>
                    {{/each}}
                </select>
            </fieldset>
        </div>

        <!-- Nút tạo mới -->
        <div class="col-12 d-flex justify-content-end">
            <button type="submit" class="btn btn-success createtoppic w-25">Tạo mới</button>
        </div>
    </div>

    <!-- Thông báo phản hồi -->
    <p id="responseMessage" class="mt-3"></p>
</form>
<script src="/js/createToppic.js"></script>
